@use "generales/generales";
@use "generales/encabezado";
@use "generales/header";
@use "generales/Menu_Hamburguesa";
@use "generales/animacion_texto";
@use "generales/footer";
@use "generales/carrousel";

@use "componentes/ofrecimientos";
@use "componentes/tarjetas_superiores";
@use "componentes/formulario_contacto";