
@use "generales/generales";
@use "generales/animacion_textos";
@use "generales/carrousel";
@use "generales/menu_hamburguesa";
@use "generales/footer";
@use "componentes/tarjetas_superiores";
@use "componentes/ofrecimientos";
@use "componentes/formulario_contacto";