@use "generales" as g;

#carouselExampleFade {
    .carousel-inner {
        .carousel-item {
            height: 60vh;
            min-height: 300px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                filter: brightness(0.8);
            }
        }
    }

    .carousel-indicators {
        button {
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: g.$color-principal;
        }
    }
}