/* Variables globales */
:root {
  --color_primario: rgb(45, 11, 238);
  --color_primario_suave: rgb(170, 193, 243);
  --color_blanco: rgb(255, 255, 255);
  --color_fondo: rgb(80, 79, 79);
  --altura_header: 70px;
  --padding_left_right: 15px;
  --ancho_maximo: 1440px;
}

/* Reseteo de los valores */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;

}

main {
  flex: 1;
  padding: 20px;
}

/* Contenedor general */
.contenedor {
  max-width: var(--ancho_maximo);
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
}

/* Navegación */
nav {
  display: flex;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

nav ul li a {
  color: var(--color_primario);
  text-decoration: none;
}

/* Responsividad */
@media (max-width: 1440px) {
  .contenedor {
    flex-direction: column;
  }

@media (max-width: 760px) {
  .contenedor-principal{
    grid-template-columns: 1fr;
    margin-left: 10px;
    margin-right: 10px;
  }
  
}

  nav ul {
    flex-direction: column;
    gap: 10px;
  }
}


.card {
  background: linear-gradient(to right, #add8e6, #ffffff); /* celeste a blanco */
  border: none; /* opcional: quita el borde si no lo querés */
}



.zoom-img {
  transition: transform 0.3s ease;
}

.zoom-img:hover {
  transform: scale(1.1);
  cursor: pointer;
}


.sombra-hr {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}


.custom-corner {
  border-radius: 20px; /* redondea todas las esquinas */
  clip-path: polygon(
    0 0,         /* esquina superior izquierda */
    80% 0,       /* punto antes del corte */
    100% 30%,    /* esquina superior derecha cortada */
    100% 100%,   /* esquina inferior derecha */
    0 100%       /* esquina inferior izquierda */
  );

}

.texto_h1{
  font-family:'impact';
  text-align: center;
  color: var(--color_primario);
}