.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px var(--padding_left_right);
  height: var(--altura_header);
  background-color: var(--color_blanco);
}