%boton-estilo {
    padding: 12px;
    border-radius: 5px;
    text-transform: uppercase;
    border: none;
}

.form-container {
    background-color: #f8f9fa;
    padding: 30px;

    button {
        @extend %boton-estilo;
        background-color: $color-principal;
        color: white;

        &:hover {
            background-color: darken($color-principal, 10%);
        }
    }
}