@use "generales" as g;

.container.my-4 {
    .row {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: 20px;
    }

    .card {
        border-left: 5px solid g.$color-principal;
        background-color: #fdfdfd;
        padding: 20px;
        height: 100%;
        @include g.card-shadow;
        
        &:hover {
            background-color: #f1f1f1;
        }
    }
}